* {
	margin:0px;
	padding:0px;
}
footer, header, article, section, main, nav, aside, p{
	display:block;	
}
#bodyApp	{
	font-family: Tahoma, sans-serif;
	float: left;
	color:#444444;
}
#headerApp{
	height:50px;
	width:360px;
	max-width:100%;
	background-color:#000000;	
}
main	{
	direction: rtl;
	position: relative;
	background: #ffffff;
	text-align: center;
	height: 500px;
	margin-left: 10px;
	margin-right: 10px;
}
footer	{
    margin-bottom: 0px;
    width: 100%;
	/*border-top: 0.5px gray solid; */
}
#wrapper	{
	margin: 0 auto;
	background: #ffffff;
	width: 360px;
	max-width:100%;
	height: 600px;
	
}
main div	{
	width: 300px;
	height: 271px;
	position: absolute;
}
main > a{
	color: #333333;
	text-decoration: none;
}
main> ul a{
	color:#444444;
	display: inline-block;
	margin-top: 30px;
	padding-top:5px;
	width: 65px;
	height: 20px;
	border: 0.5px #7a7a7a solid;
	border-radius: 3px;
}
logo > a{
	margin-left:0px;
	float:left;
	padding-top: 0px;
}
main> ul{
	margin-left: -10px;
	margin-right: -10px;
}
logo{
	margin:0 auto;
}
#logo{
	background:url(../images/logo.png) no-repeat center;
	display: block;
	margin:0 auto;
	height: 50px;
	width:84px;
}
#cafelogo{
	background:url(../images/cafelogo.png) no-repeat;
	float:left;
	height: 50px;
	width:50px;
	display:block;
	margin-left:0px;
}
#menu	{
	width: 25px;
	height: 19px;
	margin-right:10px;
	margin-top:-35px;
	float: right;
	background: url("../images/burger.png") no-repeat;
}
#next	{
	height: 28px;
	width: 71px;
	float: left;
	margin-top: 10px;
	margin-left: 25px;
}
#login	{
	margin-top: 30px;
	margin-right: 30px;
	padding-bottom: 10px;
}
form span	{
	color: red;
}
article	{
	text-align: right;
}
p{
	font-size:14px;
}
span{
	font-size:14px;
}
.time #submtaf	{
	margin-right: 60px;
	margin-bottom: 20px;
}
.tables #submtaf	{
	margin-right: 135px;
	margin-bottom: 20px;	
}
.friends #submtaf	{
	margin-right: 210px;
	margin-bottom: 40px;	
}
.end #submtaf	{
	margin-right: 290px;
	margin-bottom: 40px;		
}
/*------index------*/
#mainIndex{
	border-bottom: 0.5px #929292 solid;
	
}
.mainOption	{
	height: 55px;
	border-bottom: 0.5px #929292 solid;
	font-size: 17px;
	padding-top: 30px;
}
/*--------menu---------*/
a.CurrKategory{
	background-color: #ebebeb;
	border:2px solid;
	font-weight: bold;
}
.menu #submtaf	{
	margin-right: 5px;
}
a	{
	text-decoration: none;
}
#subktgr > a{
	background-color:#d6d6d6;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 69px;
	height: 20px;
	border: 0.5px #7a7a7a solid;
	border-radius: 3px;
	font-size:12px;
}
#CurrSubktgr{
	border:3px solid;
	font-weight: bold;
	
}
#items span	{
	display: inline-block;
	float: left;
	width: 90px;
	height: 30px;
	padding-right: 5px;
	background: url('../images/cartplus.png') left no-repeat;
	border-right: 0.5px gray dotted;
}

main > span {
	display:block;
	margin:0 auto;
}

#submtaf	{
	text-align: right;
	margin-right: 20px;
	display: block;
}
/*-----------time---------*/
#items section	{
	padding-top:4px;
	display: block;
	height: 30px;
	border-top: 0.5px gray solid;
	text-align: right;
}
/*--------tables---------*/
.tablec	p	{
	display: inline-block;
}
.tablec	{
	width: 150px;
	float: right;
	text-align: right;
}
.tablec section	{
	height: 14px;
	width: 14px;
	border: 0.5px #606060 solid;
	border-radius: 2px;
	display: inline-block;
	margin-bottom: 2px;
}
.tablec	p	{
	display: inline-block;
}
.blue	{
	background-color: #2e1572;
}
.orange	{
	background-color: #ffc581;
}
.green	{
	background-color: #72bb53;
}

.table2ordr	{
	display: block;
	float: left;
}
.table4ordr	{
	display: block;
	float: left;
}
.table6ordr	{
	display: block;
	float: left;
}
.table8ordr	{
	display: block;
	float: left;
}
.table2ordr section	{
	height: 33px;
	width: 33px;
	background-image: url("../images/2.PNG");
	background-repeat: no-repeat;
	background-position: center;
	border: 0.5px gray solid;
	display: inline-block;
	float: left;
	margin: 5px 5px 5px 5px;
	background-repeat: no-repeat;
	background-position: center;
}
.table4ordr section	{
	height: 33px;
	width: 61px;
	background-image: url("../images/4.PNG");
	background-repeat: no-repeat;
	background-position: center;	
	border: 0.5px gray solid;
	display: inline-block;
	float: left;
	margin: 5px 5px 5px 5px;	
}
.table6ordr section	{
	height: 33px;
	width: 89px;
		background-image: url("../images/6.PNG");
	background-repeat: no-repeat;
	background-position: center;
	border: 0.5px gray solid;
	display: inline-block;
	float: left;
	margin: 5px 5px 5px 5px;	
}
.table8ordr section	{
	height: 33px;
	width: 118px;
    background-image: url("../images/8.PNG");
    background-repeat: no-repeat;
    background-position: center;
	border: 0.5px gray solid;
	display: inline-block;
	float: left;
	margin: 5px 5px 5px 5px;	
}
main div	{
	width: 300px;
	height: 271px;
	
}
div > section	{
	width: 300px;
	height: 47px;
	border-bottom: 0.5px #cccccc solid;
	background: #f2f2f2;
	padding-top: 5px;
}
/*--------------friends------------------*/
form h2	{
	margin-top: 10px;
	margin-right: 20px;
}
form section	{
	text-align: right;
}
form h4	{
	margin-bottom: 10px;
	margin-top: 10px;
}
input	{
	height: 25px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.friends form	{
	margin-right: 15px;
}
#submit	{
	height: 25px;
	width: 71px;
	color: #7a7a7a;
	background: #e6e6e6;
}
label img	{
	margin-right: 20px;
}
/*-----------management--------------*/
#headerManage{
	background: url(../images/logo1.png) center;
	height: 80px;
	max-width: 1024px;
	background: #000000;
}
#navManage{
	width: 183px;
	height: 620px;
	float:right;
	background: #aaaaaa;
}

main > table {
    border-collapse:collapse;
    width:840px;
    height:620px;
    float:left;
    
}
main > table, th, td {
    border:1px solid black;
    text-align: center;
}
main > table tr:nth-child(even) {
    background-color: #ececec;
}
main > table tr:nth-child(odd) {
   background-color:#ffffff;
}
main > th{
	background-color:#cccccc;
}
.navManage td{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7.5pt;
}
.navManage form{
	margin:0px;
	margin-top:4px;
}
#wrapperManage {
	margin:0 auto;
	width:1024px;		
}
#logoManage{
	display: block;
	background: url(../images/logo1.png) no-repeat right;
	margin:0 auto;
	height: 80px;
	width:100%;
}
nav ul a{
	text-align: center;
}
nav a{
	color: #000000;
	text-decoration: none;
	margin-right: 50px;
}
#mainManage{
	margin: 0 auto;
	float: left;
}